.card_style {
    cursor: pointer;
    transition: .3s;
}

.smalltrash {
    display: none;
}


.card_style:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
}

.iteamsdetails {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
}

.items_img {
    flex: .4;
}

.items_img img {
    width: 20rem;
    border-radius: 5px;
}

.details {
    flex: .5;
}

;

.rating {
    background-color: green;
}

@media (max-width:772px) {
    .iteamsdetails {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:450px) {
    .smalltrash {
        display: block;
    }

    .largetrash {
        display: none;
    }

    .emptycart_img {
        margin-right: 50px;
    }

    .smallclose {
        display: none;
    }

    /* individual iteams details */

    .items_img img {
        width: 16rem;
    }

}

.ct{
    display: flex;
    flex-direction:row;
    gap: 0.3rem;
    flex-wrap: wrap;
    margin-top: '20px';
    justify-content: center;
 
}

.bh{
    margin:15px;
    margin-top: 18px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}
.bh:hover{
    box-shadow: 0 4px 6px 0 rgba(34, 106, 221, 0.2), 0 6px 8px 0 rgba(57, 176, 223, 0.19);
}

.home{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    .overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        
        z-index: 1;
        mix-blend-mode: hard-light ;
    }

    .bimg{
        position: absolute;
        height: 90%;
        width: 110%;
        top: 0;
        bottom: 0;
        object-fit: cover;
        opacity: 0.7;
    }

    .homeContent_container{
        width: 100%;
        height: max-content;
        padding: 15rem 1.5rem 3rem;
        display: flex;
        row-gap: 3rem;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin: auto;
        color: #ffffff;
        z-index: 100;
        
        .voice{
            font-weight: 300;
            position: absolute;
            top: 80;
            font-size: 29px;
        }
        .textDiv{
            padding: 2rem ;

            .smallText{
                font-size: 28px;
                text-transform: uppercase;
                color: #ffffff;
                font-weight: 400;
                position: relative;
                font-family: Arial, Helvetica, sans-serif;
                text-shadow: 2px 2px #b36b00;
            }

            .homeTitle{
                position: relative;
                font-size: 2.8rem;
                text-shadow: 2px 2px #b36b00;
            }
        }
    }
}

.menu{
    
    text-shadow: 2px 2px #b36b00;
}